.my-careers {
    margin: 90px 50px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 10px 5px lightslategrey;
    padding: 1px;

    h2 {
        text-align: center;
        margin-top: 15px;
    }


    .jobs {
        display: flex;
        margin: 20px 0;
        .job-name, .job-inform {
            width: 40%;
            margin: auto;
    
            .careers-icon {
                margin-right: 5px;
            }
            a {
                text-decoration: none;
                &:hover {
                    color: red;
                }
            }
    
        }
    
        .job-name {
            text-align: center;
        }
    }

    hr {
        width: 80%;
        margin: auto;
    }

}

@media (max-width: 600px) {
    .careers {
        .my-careers {
            margin: 50px 20px;

            .jobs {
                display: block;

                .job-name, .job-inform {
                    width: 90%;
                }

                .job-name {
                    text-align: center;
                    margin-bottom: 10px;
                }

                .job-inform {
                    text-align: justify;
                }
            }
        }
    }
}
