<div class="careers" id="careers">
    <div class="my-careers">
        <h2>Careers</h2>
    
        <div class="jobs">
            <div class="job-name">
                <h3>SMS Club </h3>
                <p>August 2020 - current</p>
            </div>
        
            <div class="job-inform">
                <h3>Fulltime - Full-Stack WEB Developer</h3>
                <p>
                    Support for the company's software products and solving current problems in the work of the code. 
                    Development and implementation of new functional modules of the program. An expert proposal for 
                    architecture or specific technical solutions.
                </p>
                <p><fa-icon class="careers-icon" [icon]="faLocationArrow" size="md"></fa-icon> Kyiv / <fa-icon class="careers-icon" [icon]="faLink" size="md"></fa-icon> <a href="https://smsclub.mobi/">https://smsclub.mobi/</a></p>
            </div>
        </div>
    
        <hr>
    
        <div class="jobs">
            <div class="job-name">
                <h3>Смарт Інфосервіс</h3>
                <p>August 2019 - August 2020</p>
            </div>
        
            <div class="job-inform">
                <h3>Fulltime - Junior Full-Stack WEB Developer</h3>
                <p>
                    Layout of existing sites on Wordpress. Creating new sites on Wordpress, customizing themes, installing the necessary plugins such as Advanced Custom Fields, Contact Form 7, etc.
                    Built and supported big web-application architecture and logic from scratch using VueJS
                </p>
                <p><fa-icon class="careers-icon" [icon]="faLocationArrow" size="md"></fa-icon> Kyiv</p>
            </div>
        </div>
    
    
    </div>
</div>

