<div class="myProject" id="myProject">
  <div id="all">
      <h2 class="projects">My Project</h2>
        <div class="view view-first">
          <img src="../../../assets/freshhub.jpg" />
          <div class="mask"></div>
          <div class="content">
            <h2>Freshhub</h2>
            <p>Online store for the sale of organic products.</p>
            <a href="https://freshhub.kiev.ua/" class="info">visit website</a>
          </div>
        </div>
      
      
        <div class="view view-first">
          <img src="../../../assets/smsclub1.jpg" />
          <div class="mask"></div>
          <div class="content">
            <h2>Sms Club</h2>
            <p>Service Viber and SMS messages in Ukraine and the world.</p>
            <a href="https://smsclub.mobi/" class="info">visit website</a>
          </div>
        </div>
      
      
        <div class="view view-first">
          <img src="../../../assets/posteat.png" />
          <div class="mask"></div>
          <div class="content">
            <h2>Posteat</h2>
            <p>This is a professional gastronomic vision, one of the leaders in the online media market of Ukraine..</p>
            <a href="https://posteat.ua/" class="info">visit website</a>
          </div>
        </div>
      
        <div class="view view-first">
          <img src="../../../assets/ipp.png" />
          <div class="mask"></div>
          <div class="content">
            <h2 id="testimonials">Lwdplatform</h2>
            <p>&ldquo;Online store selling real estate. &rdquo;</p>
            <a href="https://ipp.lwdvplatform.com/" class="info">visit website</a>
          </div>
        </div>
      
      </div>
</div>


