.mySkils {
    display: flex;
    margin: 50px;


    h2 {
        text-align: center;
        margin-top: 15px;
    }

    .workSkils {
        border-radius: 25px;
        background-color: white;
        box-shadow: 10px 10px 5px lightslategrey;
        width: 40%;

        .skils {
            display: flex;
            justify-content: space-around;

            .workSkilsName {
                p {
                    font-weight: bold;
                    font-size: 20px;
                    margin: 35px 0;
                }
            }
            
            .jsSkils {
                margin: 30px 0;
    
                p {
                    font-weight: bold;
                    margin: 8px;
                    font-size: 20px;
                    letter-spacing: 2px;
                }
            }
        }

    }

    .photoBlock {
        margin: 0 auto;
        img {
            display: block;
        }
    }

    .rating {
        display: inline-block;
        font-size: 0;
        margin: auto 0;
        span {
           padding: 0;
           font-size: 35px;
           line-height: 1;
           color: lightgrey;
        }
    }
    .rating > span:before {
        content: '★';
    }
    .rating > span.active {
        color: gold;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .mySkils {

        .photoBlock {
            img {
                width: 450px;
                height: 450px;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 769px) {
    .mySkils {
        display: block;
        margin: 50px 20px;

        .workSkils {
            width: 100%;
        }

        .photoBlock {
            margin: 40px auto 0 auto;
            img {
                width: 300px;
                height: 300px;
                margin: 0 auto;
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 769px) {
    .abilities {
        .mySkils {
    
            .photoBlock {
                img {
                    width: 400px;
                    height: 400px;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .abilities {
        .mySkils {
    
            .photoBlock {
                img {
                    width: 280px;
                    height: 280px;
                    margin: 0 auto;
                }
            }
        }
    }
}