<div class="abilities" id="abilities">
    <h1>Abilities</h1>
</div>

<div class="mySkils">
    <div class="workSkils">
        <h2>Skils</h2>

        <div class="skils">
            <div class="workSkilsName">
                <p>JavaScript</p>
                <p>Angular</p>
                <p>Vue Js</p>
                <p>Jquery</p>
                <p>PHP</p>
                <p>WordPress</p>
            </div>

            <div class="workSkilsValue">
                <div class="jsSkils">
                    <div class="rating">
                        <span class="active"></span>	
                        <span class="active"></span>    
                        <span class="active"></span>  
                        <span></span>    
                        <span></span>
                    </div>
                </div>
        
                <div class="jsSkils">
                    <div class="rating">
                        <span class="active"></span>	
                        <span class="active"></span>    
                        <span class="active"></span>  
                        <span></span>    
                        <span></span>
                    </div>
                </div>
        
                <div class="jsSkils">
                    <div class="rating">
                        <span class="active"></span>	
                        <span class="active"></span>    
                        <span class="active"></span>  
                        <span></span>    
                        <span></span>
                    </div>
                </div>
    
                <div class="jsSkils">
                    <div class="rating">
                        <span class="active"></span>	
                        <span class="active"></span>    
                        <span class="active"></span>  
                        <span></span>    
                        <span></span>
                    </div>
                </div>
    
                <div class="jsSkils">
                    <div class="rating">
                        <span class="active"></span>	
                        <span class="active"></span>    
                        <span class="active"></span>  
                        <span></span>    
                        <span></span>
                    </div>
                </div>
    
                <div class="jsSkils">
                    <div class="rating">
                        <span class="active"></span>	
                        <span class="active"></span>    
                        <span class="active"></span>  
                        <span></span>    
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <div class="photoBlock">
        <img src="./assets/frontend2.svg" alt="">
    </div>

</div>
