<div class="educations" id="educations">
    <!-- <h1>Educations & Courses</h1> -->
    <div class="educations-courses">
    
        <div class="education">
            <h2>Educations</h2>
    
            <div class="degree">
                <h3>Master Degree: Automation and computer-integrated technologies</h3>
                <p>The National Technical University of Ukraine "Igor Sikorsky Kyiv Polytechnic Institute" (September, 2018 - December, 2019)</p>
            </div>
            <hr>
    
            <div class="degree">
                <h3>Bachelor Degree: Instrument engineering</h3>
                <p>The National Technical University of Ukraine "Igor Sikorsky Kyiv Polytechnic Institute" (September, 2014 - May, 2018)</p>
            </div>
        </div>
    
        <div class="courses">
                <h2>Courses</h2>
    
                <div class="course">
                    <h3>Angular 9. Теория и Практика 2020 </h3>
                    <p>udemy.com (Владилен Минин)</p>
                </div>
                <hr>
        
                <div class="course">
                    <h3>JavaScript & JS frameworks</h3>
                    <p>Infopulse-univer</p>
                </div>
    
        </div>
    </div>
</div>

