<div class="profile" id="profile">
    <!-- <h1>Profile</h1> -->
    <div class="my-information">
    
        <div class="about">
            <h2>About Me</h2>
    
            <p>I am a polite, have a high threshold emotional, stubborn in achieving the final result, positive, cheerful, ready to perform the hard work.</p>
            <p>I have solid theoretical and practical knowledge of JavaScript, Jquery, HTML and CSS, PHP, VueJS, Wordpress.</p>
            <p>I am constantly interested in learning new technologies in web development. I have a great desire to continue grow professionally. I am goal-oriented, sociable, capable to learn, open-minded with active life position.</p>
        </div>
    
        <div class="basic-information">
            <h2>Basic Information</h2>
    
            <div class="basic-inform">
    
                <div class="name-option">
                    <p>Birth Day:</p>
                    <p>Phone Number:</p>
                    <p>Email:</p>
                </div>
    
                <div class="value-option">
                    <p>April 22, 1997</p>
                    <p><a href="tel:+38(063) 515-67-54">+38(063) 515-67-54</a></p>
                    <p><a href="mailto:reede419@gmail.com">reede419@gmail.com</a></p>
    
                </div>
            </div>
        </div>
    </div>
</div>

