<div class="header">

    <div class="header-block image-block">
        <img src="./assets/serhii.jpg" alt="">
    </div>
    <div class="header-block header-text">
        <h1>I'm Serhii Klepach</h1>
        <p>Web | Front-End developer</p>
    </div>
    <div class="social-link">
        <a href="https://www.facebook.com/profile.php?id=100017385486487"><fa-icon class="social" [icon]="faFacebook" size="2x"></fa-icon></a>
        <a href="https://www.instagram.com/serh_cool/"><fa-icon class="social" [icon]="faInstagram" size="2x"></fa-icon></a>
        <a href="https://www.linkedin.com/in/%D1%81%D0%B5%D1%80%D0%B3%D1%96%D0%B9-%D0%BA%D0%BB%D0%B5%D0%BF%D0%B0%D1%87-1b03171a1/"><fa-icon class="social" [icon]="faLinkedin" size="2x"></fa-icon></a>
    </div>

</div>
<nav 
    class="navbar bg-primary"
    [ngClass]="{'fixed-navigation' : fixedClass}"
    >

    <ul>
        <li class="navigation" (click)="toAnchor('profile')">
            <a [ngClass]="{'active' : activeP}" >Profile</a>
        </li>
        <li class="navigation" (click)="toAnchor('educations')">
            <a [ngClass]="{'active' : activeE}" >Educations</a></li>
        <li class="navigation" (click)="toAnchor('careers')">
            <a [ngClass]="{'active' : activeC}" >Careers</a>
        </li>
        <li class="navigation" (click)="toAnchor('abilities')">
            <a [ngClass]="{'active' : activeS}" >Abilities</a>
        </li>
        <li class="navigation" (click)="toAnchor('myProject')">
            <a [ngClass]="{'active' : activePr}" >My Project</a>
        </li>
    </ul>
</nav>

