<div class="footer">
    <div class="myContact">

        <div class="call contact">
            <div class="contact-icon">
                <fa-icon class="social-contact" [icon]="faphone" size="lg"></fa-icon>
            </div>
            <div class="footer-contact">
                <p>Call</p>
                <p>+38 (063) 515-67-54</p>
            </div>
        </div>

        <div class="write contact">
            <div class="contact-icon">
                <fa-icon class="social-contact" [icon]="famessage" size="lg"></fa-icon>
            </div>
            <div class="footer-contact">
                <p>Write</p>
                <p>reede419@gmail.com</p>
            </div>
        </div>

        <div class="comein contact">
            <div class="contact-icon">
                <fa-icon class="social-contact" [icon]="faplus" size="lg"></fa-icon>
            </div>
            <div class="footer-contact">
                <p>Come in</p>

                <a href="https://www.facebook.com/profile.php?id=100017385486487"><fa-icon class="social footer-icon" [icon]="faFacebook" size="lg"></fa-icon></a>
                <a href="https://www.instagram.com/serh_cool/"><fa-icon class="social footer-icon" [icon]="faInstagram" size="lg"></fa-icon></a>
                <a href="https://www.linkedin.com/in/%D1%81%D0%B5%D1%80%D0%B3%D1%96%D0%B9-%D0%BA%D0%BB%D0%B5%D0%BF%D0%B0%D1%87-1b03171a1/"><fa-icon class="social footer-icon" [icon]="faLinkedin" size="lg"></fa-icon></a>

            </div>
        </div>

        
    </div>
</div>